* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nerko One', cursive;
}

/* generics */

body {
    background-color: rgb(164, 245, 245);
}

.container {
    max-width: 1200px;
    margin: auto;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.yllw {
    color: yellow;
}

.rd {
    color: red;
}

.bl {
    color: blue;
}

.grn {
    color: green;
}

.orng {
    color: orange;
}

.prpl {
    color: purple;
}

/* header */

h1 {
    text-align: center;
    color: white;
    font-size: 65px;
    margin-top: 30px;
}

/* main */

.card {
    height: 300px;
    width: calc(100%/4 - 40px);
    background-image: url(../img/pattern.png);
    background-size: 100%;
    margin: 20px;
    border: 2px soldi black;
    border-radius: 15px;
    float: left;
}

.memory {
    height: 100%;
    display: none;
    background-color: white;
    border-radius: 15px;
    text-align: center;
    font-size: 50px;
    padding-bottom: 50px;
}

.card  img {
    height: 90%;

}

.card:hover .memory{
    display: block;
}

/* footer */

footer {
    margin-top: 30px;
    text-align: center;
    font-size: 25px;
}